body {
  text-align: center;
  background-color: rgb(30, 27, 56);
  color: white;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.topics  {
  display: grid;
  padding: 3px;
  border: 3px solid rgb(169, 176, 221);
}

.popular {
  text-align: start;
  background-color: rgb(94, 104, 177);
  overflow: hidden;
  display: grid;
  grid-template-columns: 2fr 15% 15%;
  grid-template-rows: 1fr;
  align-content: start;
  margin: 3px;
  padding: 5px;
  border: 1px solid rgb(169, 176, 221);
}

.topics-item {
  text-align: start;
  overflow: hidden;
  display: grid;
  grid-template-columns: 2fr 15% 15%;
  grid-template-rows: 1fr;
  align-content: start;
  margin: 3px;
  padding: 5px;
  border: 1px solid rgb(169, 176, 221);
}

.topic-info {
  grid-row: 2;
  grid-column: span 3;
}

@media screen and (max-width: 670px) {
  .topics-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-content: space-around;
  }

  .topics h3 {
    grid-row: 1;
    grid-column: span 2;
  }

  .topic-stats {
    grid-row: 3;
    grid-column: span auto;
  }

  .topic-info {
    grid-row: 2;
    grid-column: span auto;
  }
}